/* Author: Debarun Mitra
Technology used: HTML, CSS, JavaScript, JQuery, Bootstrap
objective: Create a quiz application */
.root{

}
.my-navbar
{
  max-width: 100%;
  color:white;
  border-radius: 0px;
}
.topnav
{
  overflow: hidden;
  background: #374176;
}
.topnav #myLinks
{
  display: none;
}
#myLinks .links
{
  color: white;
  background: #323D74;
  padding: 14px 16px;
  font-size: 16px;
  display: block;
  text-align: center;
}
.logo-icon
{
  height: 80px;
}
.user-name
{
  margin-left: 20%;
  margin-top: 10px;
  color: white;
  padding: 12px 10px;
  font-size: 20px;
  display: block;
  text-decoration: none;
  font-family: serif;
}
.timer-count
{
  font-size: 30px;
  margin-top: 18px;
  margin-left: 22%;
}
.topnav a.icon{
  background: #374176;
  display: block;
  color: white;
  padding: 18px 18px;
  position: absolute;
  font-size: 30px;
  right: 0;
  top:0;
}
.topnav a.icon:hover
{
  background: #ddd;
  color: black;
}
#myLinks a:hover
{
  background: #ddd;
  color: black;
}
.qcount-quit
{
  margin-top: 3%;
  padding-left:0%;
}
.question-number
{
    margin-left: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.quit-btn
{
  border: none;
  border-radius:40%;
  margin-left: 60%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 70px;
  height: 80%;
}
.questions
{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.option
{
  border:none;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
  height: 50px;
}
#optionBtn input:hover
{
  border: solid;
  border-color: green;
}
#bottom-slider-btn
{
  margin-top: 3%;
}
#bottom-slider-btn .button
{
  border: none;
  background-color: white;
  border-radius: none;
  font-size: 30px;
  margin-left: 45%;
  color:#374176;
}
